Package: ros-jazzy-cartographer
Version: 2.0.9004-1noble
Architecture: riscv64
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Installed-Size: 53509
Depends: libabsl20220623t64 (>= 0~20220623.0-1), libboost-iostreams1.83.0 (>= 1.83.0), libc6 (>= 2.34), libceres4t64 (>= 2.2.0+dfsg), libgcc-s1 (>= 3.4), libgflags2.2 (>= 2.2.2), libgoogle-glog0v6t64 (>= 0.6.0), liblua5.3-0, libprotobuf32t64 (>= 3.21.12), libstdc++6 (>= 13.1), libabsl-dev, libboost-iostreams-dev, libcairo2-dev, libceres-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, liblua5.2-dev, libprotobuf-dev, libprotoc-dev, protobuf-compiler, ros-jazzy-ros-workspace
Section: misc
Priority: optional
Homepage: https://github.com/cartographer-project/cartographer
Description: Cartographer is a system that provides real-time simultaneous localization and mapping (SLAM) in 2D and 3D across multiple platforms and sensor configurations.
