Package: ros-jazzy-cartographer-dbgsym
Package-Type: ddeb
Source: ros-jazzy-cartographer
Version: 2.0.9004-1noble
Auto-Built-Package: debug-symbols
Architecture: riscv64
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Installed-Size: 31260
Depends: ros-jazzy-cartographer (= 2.0.9004-1noble)
Section: debug
Priority: optional
Description: debug symbols for ros-jazzy-cartographer
Build-Ids: 2c242264a0f1eb5225c5630ab694c14530d0a287 5e7cdc669f7176c2ba2798833557258065f94777 916e2c58e0960bff0b483be0285d29fb927afd2b eaa24b2fac1f6902389edf95b2e15a638290edfa
